header {
	overflow: hidden;
}
.social img {
	width: 20px;
	height: 20px;
}
body {
	background-color: #F2F2F2;
	color: #333;
}
#loginform {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
#article {
	float: right;
}

#nav {
}

#alert-container {
	position: fixed;
	top: 10px;
	width: 100%;
}

#alert-div {
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 1px 1px 5px #aaa;
	z-index: 10000;
}

#fixed-menu {
	position: fixed;
	margin-left: 0;
	left: 0;
	bottom: 0;
}

#menu {
	background-color: rgba(0, 0, 0 ,0.5);
	float: left;
	overflow: hidden;
}

#menu-toggle {
	position: relative;
	left: 5px;
	bottom: 5px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0 ,0.5);
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
}
#menu-toggle i {
	position: relative;
	top: 10px;
}

div.admin-article {
	float: right;
}

h1.ar-title {
	border-bottom: solid 1px #e5e5e5;
	margin-top: 0px;
	font-size: 42px;
	line-height: 1.2;
	letter-spacing: -1px;
}
h1.ar-title-thu {
	border-bottom: solid 1px #e5e5e5;
	margin-top: 0px;
	margin-bottom: 5px;
}

h1, h2, h3 {
	font-weight: normal;
}

.ar-body h1 {
	font-size: 31.5px;
}

.ar-body h2 {
	font-size: 24.5px;
}

.ar-body h3 {
	font-size: 17.5px;
}

.ar-body h4 {
	font-size: 14px;
}

.ar-body h5 {
	font-size: 11.9px;
}

.ar-body h6 {
	font-size: 10px;
}
.ar-head {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.ar-head-thu {
	position: relative;
}
.ar-meta {
}
.ar-meta:hover {
}
h1.ar-title a {
	color: #040404;
}
h1.ar-title a:hover {
	color: #000000;
}
h1.ar-title-thu a {
	color: #000000;
}

.ar-headimage img {
	display: block;
	margin: auto;
}
.ar-headimage-thu img {
	border-radius: 5px 5px 0 0;
}
.ar-thu-container {
	overflow: hidden;
	padding-bottom: 30px;
}
.ar-main-thu {
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 1px 2px #AAA;
	background-color: #FFFFFF;
	max-width: 640px;
	float: none;
	margin: 0 auto;
}
.ar-main {
	margin-bottom: 20px;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 1px 2px #AAA;
	background-color: #FFFFFF;
	padding: 10px;
	min-width: 200px;
}

.ar-body {
	padding: 10px 20px;
}

.ar-preface {
	padding: 20px 10px;
}
.ar-social {
	padding: 15px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 600px;
}

.ar-social ul {
	margin: 0;
}

.ar-social li {
	float: left;
	margin-right: 5px;
	list-style-type: none;
}
.ar-social iframe {
	margin: 0 !important;
}

.ar-social-thu {
	padding: 15px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 600px;
	background-color: #DFDFDF;
	border-radius: 0 0 20px 20px;
}

.ar-social-thu ul {
	margin: 0;
}

.ar-social-thu li {
	float: left;
	margin-right: 5px;
	list-style-type: none;
}
.ar-social-thu iframe {
	margin: 0 !important;
}

ul.social {
	margin: 0;
}

.social li {
	float: left;
	margin-right: 5px;
	list-style-type: none;
}
.social iframe {
	margin: 0 !important;
}

#thumbs a {
	text-decoration: none;
}

.thumbnail:hover {
	border-color: #0088cc;
}

.thumbnail {
	overflow: hidden;
}

@media (min-width: 768px) {

	h2, h3 {
		line-height: 28px;
	}
	.dark legend {
		width: 166px;
	}
}

@media (min-width: 980px) {
	.dark legend {
		width: 220px;
	}
}

@media (min-width: 1200px) {
	.ar-main-thu {
		float: left;
	}
	.ar-headimage {
		background-color: #f9f9f9;
		margin-bottom: 20px;
	}
	.ar-social-thu {
		border-radius: 0 10px 10px 0;
		padding-left: 60px;
	}
	.ar-social-thu li {
		float: none;
		margin: 10px 0px;
	}
	.spacer {
		margin-left: 10px;
	}
	.dark legend {
		width: 270px;
	}
}
#tag-search {
	overflow: hidden;
	margin-bottom: 20px;
}
.search {
	padding: 10px 10px;
	overflow: hidden;
	border-bottom: solid 1px #BFBFBF;
}
.search img {
	float: left;
	width: 30%;
	max-width: 100px;
	margin-right: 10px;
}

.search a h2 {
	color: #252525;
}

.search-func {
	text-align: center;
	padding: 10px 10px;
}

@media (max-width: 767px) {
	.dark legend {
		width: 200px;
	}
}

@media (max-width: 480px) {
	h1, h2, h3 {
		line-height: 28px;
	}
	.ar-body h1, h1 {
		font-size: 1.8em;
	}
	.ar-body h1 small, h1 small {
		font-size: 0.8em;
	}
	.ar-body h2, h2 {
		font-size: 1.5em;
	}
	.ar-body h3, h3 {
		font-size: 1.2em;
	}
}

div.viewing {
	color: #FFFFFF;
	background-color: #0088cc;
}

div#menu-button {
	text-align: center;
}

ul.comment {
	margin: 0px;
	padding: 0px;
}

li.comment {
	list-style-type: none;
	overflow: hidden;
	padding: 8px;
	border-bottom: solid 1px #e5e5e5;
}

div.meta {
	background-color: #D4D4D4;
	padding: 0 10px;
	width: 180px;
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 10px;
}

.meta-subid {
	font-size: 16px;
	color: #052465;
	padding-top: 3px;
	margin-right: 6px;
	float: left;
	font-weight: bold;
}

.meta-name {
	padding-top: 6px;
}

.meta-time {
	display: block;
	font-size: 0.9em;
}

table.comment {
	margin-top: 20px;
	width: 98%;
}

table.comment th {
	width: 210px;
}

table.comment textarea {
	height: 148px;
	width: 100%;
	resize: vertical;
}

.dark {
	color: #cfcfcf;
	background-color: #444;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.dark legend {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 5px;
	border: none;
	background: #8fb93d;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 5px 5px 0 0;
	padding: 3px 0 3px 0;
}
.dark a {
	color: #cfcfcf;
}

.color-red {
	background-color: #DD514C;
	color: #FFFFFF;
}
.color-blue {
	background-color: #139FF7;
	color: #FFFFFF;
}

.end-of-world {
	float: left;
	text-align: center;
	width: 100%;
	background-color: #FED22F;
}

#home-button {
	position: fixed;
	left: 5px;
	bottom: 45px;
	background-color: rgba(0, 0, 0 ,0.5);
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}
#home-button i {
	position: relative;
	top: 10px;
}

#nav-toggle {
	display: none;
}
@media (max-width: 767px) {
	div.meta {
		width: 100px;
	}
	.meta-time {
		font-size: 0.6em;
	}
	table.comment th {
		width: 110px;
	}
	#nav {
		position: absolute;
		float: left;
		top: 0;
		left: 0px;
		background-color: #444;
		width: 200px;
		margin-left: -200px;
	}
	#nav-toggle {
		display: block;
		float: right;
		margin-right: -20px;
		margin-top: 200px;
		background-color: #363636;
		cursor: pointer;
		padding: 25px 5px;
		border-radius: 0 10px 10px 0;
	}
}