body {
	padding-top: 30px;
	background-color: #f4f4f4;
	color: #333;
}

#loginform {
}

#alert-container {
	position: fixed;
	top: 10px;
	width: 100%;
	z-index: 10000;
}

#alert-div {
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 1px 1px 5px #aaa;	
}

#menu {
	overflow: hidden;
}
#menu, .thumbnail {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
}

#article {
	padding: 10px;
	background-color: #FFFFFF;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#anim {
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 1px 1px 2px #000;
}

div.admin-article {
	float: right;
}

h1, h2, h3 {
	font-weight: normal;
}

#ar-body h1 {
	font-size: 31.5px;
}

#ar-body h2 {
	font-size: 24.5px;
}

#ar-body h3 {
	font-size: 17.5px;
}

#ar-body h4 {
	font-size: 14px;
}

#ar-body h5 {
	font-size: 11.9px;
}

#ar-body h6 {
	font-size: 10px;
}

#thumbs a {
	text-decoration: none;
}

.thumbnail:hover {
	border-color: #0088cc;
}

.thumbnail {
	overflow: hidden;
}

@media (min-width: 768px) {
	h2, h3 {
		line-height: 28px;
	}
	.thumbnail img {
		float: left;
		margin-right: 10px;
		height: 70px;
	}
	.thumbnail {
		height: 100px;
	}
}

@media (min-width: 980px) {
	.thumbnail {
		height: 100px;
	}
	.thumbnail img {
		height: 100px;
	}
}

@media (min-width: 1200px) {
	.thumbnail {
		height: 110px;
	}
	.thumbnail img {
		height: 110px;
	}
	#ar-headimage {
		background-color: #f9f9f9;
		margin-bottom: 20px;
	}
}

#header-thumbs .thumbnail {
	box-shadow: 1px 1px 10px #BFBFBF;
}

div.tag-search {
	height: 300px;
}

.tag-search img {
	height: auto;
}

@media (max-width: 767px) {
	div.thumbnail {
		height: 120px;
	}
	.thumbnail img {
		float: left;
		margin-right: 10px;
		height: 100px;
	}
	div.tag-search {
		height: auto;
	}
}

@media (max-width: 480px) {
	h1, h2, h3 {
		line-height: 28px;
	}
	#ar-body h1, h1 {
		font-size: 1.8em;
	}
	#ar-body h1 small, h1 small {
		font-size: 0.8em;
	}
	#ar-body h2, h2 {
		font-size: 1.5em;
	}
	#ar-body h3, h3 {
		font-size: 1.2em;
	}
	.thumbnail img {
		float: left;
		margin-right: 10px;
	}
}

div.viewing {
	color: #FFFFFF;
	background-color: #0088cc;
}

div#menu-button {
	text-align: center;
}

ul.comment {
	margin: 0px;
	padding: 0px;
}

li.comment {
	list-style-type: none;
	overflow: hidden;
	padding: 8px;
	border-bottom: solid 1px #e5e5e5;
}

div.meta {
	background-color: #EEEEEE;
	padding: 0 10px;
	width: 180px;
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 10px;
}

.meta-subid {
	font-size: 16px;
	color: #052465;
	padding-top: 3px;
	margin-right: 6px;
	float: left;
	font-weight: bold;
}

.meta-name {
	padding-top: 6px;
}

.meta-time {
	display: block;
	font-size: 0.9em;
}

table.comment {
	margin-top: 20px;
	width: 98%;
}

table.comment th {
	width: 210px;
}

table.comment textarea {
	height: 148px;
	width: 100%;
	resize: vertical;
}

@media (max-width: 767px) {
	div.meta {
		width: 100px;
	}
	.meta-time {
		font-size: 0.6em;
	}
	table.comment th {
		width: 110px;
	}
}